IoTCloudUnits/node_red_dataflows/csv_to_json_flow/flow_csv_to_json.json
[
  {
    "id": "d8a8aba1.995d78",
    "type": "tab",
    "label": "Flow 1",
    "disabled": false,
    "info": ""
  },
  {
    "id": "ad2630cf.451d2",
    "type": "csv",
    "z": "d8a8aba1.995d78",
    "name": "",
    "sep": ";",
    "hdrin": "",
    "hdrout": "",
    "multi": "one",
    "ret": "\\n",
    "temp": "key1, key2, key3",
    "skip": "0",
    "x": 390,
    "y": 440,
    "wires": [
      [
        "e722c1ae.6cda4"
      ]
    ]
  },
  {
    "id": "455433c9.21266c",
    "type": "debug",
    "z": "d8a8aba1.995d78",
    "name": "json output",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "x": 740,
    "y": 440,
    "wires": []
  },
  {
    "id": "84d7779e.19e8b8",
    "type": "mqtt in",
    "z": "d8a8aba1.995d78",
    "name": "",
    "topic": "noderedtest",
    "qos": "2",
    "broker": "264320d6.45a71",
    "x": 167,
    "y": 436,
    "wires": [
      [
        "ad2630cf.451d2"
      ]
    ]
  },
  {
    "id": "d921e36.926652",
    "type": "mqtt out",
    "z": "d8a8aba1.995d78",
    "name": "",
    "topic": "noderedtest",
    "qos": "2",
    "retain": "",
    "broker": "264320d6.45a71",
    "x": 470,
    "y": 520,
    "wires": []
  },
  {
    "id": "3daca80.7964d58",
    "type": "inject",
    "z": "d8a8aba1.995d78",
    "name": "csv message",
    "topic": "noderedtest",
    "payload": "this is a; 2; test",
    "payloadType": "str",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 170,
    "y": 520,
    "wires": [
      [
        "d921e36.926652"
      ]
    ]
  },
  {
    "id": "e722c1ae.6cda4",
    "type": "json",
    "z": "d8a8aba1.995d78",
    "name": "",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 560,
    "y": 440,
    "wires": [
      [
        "455433c9.21266c",
        "9597a1c7.5d93c"
      ]
    ]
  },
  {
    "id": "9597a1c7.5d93c",
    "type": "mqtt out",
    "z": "d8a8aba1.995d78",
    "name": "",
    "topic": "jsonOutput",
    "qos": "0",
    "retain": "",
    "broker": "264320d6.45a71",
    "x": 743.5,
    "y": 497,
    "wires": []
  },
  {
    "id": "264320d6.45a71",
    "type": "mqtt-broker",
    "z": "",
    "name": "",
    "broker": "localhost",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "compatmode": true,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  }
]