IoTCloudUnits/node_red_dataflows/fixed_header_csv_to_json_flow/flow_fixed_header_csv_to_json.json
[
  {
    "id": "70ce3364.8823ac",
    "type": "csv",
    "z": "8d7e330b.8f5a7",
    "name": "",
    "sep": ";",
    "hdrin": "",
    "hdrout": "",
    "multi": "one",
    "ret": "\\n",
    "temp": "key1, key2, key3",
    "skip": "0",
    "x": 383.333309173584,
    "y": 251.11109161376953,
    "wires": [
      [
        "640467a2.9a9b08"
      ]
    ]
  },
  {
    "id": "92060cd4.662b5",
    "type": "mqtt in",
    "z": "8d7e330b.8f5a7",
    "name": "",
    "topic": "csv_input",
    "qos": "2",
    "broker": "264320d6.45a71",
    "x": 203.3333282470703,
    "y": 243.3333282470703,
    "wires": [
      [
        "70ce3364.8823ac"
      ]
    ]
  },
  {
    "id": "4b290edb.257ca",
    "type": "mqtt out",
    "z": "8d7e330b.8f5a7",
    "name": "",
    "topic": "json_output",
    "qos": "2",
    "retain": "",
    "broker": "264320d6.45a71",
    "x": 693.3332786560059,
    "y": 243.3333034515381,
    "wires": []
  },
  {
    "id": "640467a2.9a9b08",
    "type": "json",
    "z": "8d7e330b.8f5a7",
    "name": "",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 546.666633605957,
    "y": 246.6666555404663,
    "wires": [
      [
        "4b290edb.257ca"
      ]
    ]
  },
  {
    "id": "264320d6.45a71",
    "type": "mqtt-broker",
    "z": "",
    "name": "",
    "broker": "localhost",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "compatmode": true,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  }
]