IoTCloudUnits/node_red_dataflows/xml_to_json_flow/flow_xml_to_json.json
[
  {
    "id": "92060cd4.662b5",
    "type": "mqtt in",
    "z": "8d7e330b.8f5a7",
    "name": "",
    "topic": "xml_input",
    "qos": "2",
    "broker": "264320d6.45a71",
    "x": 203.3333282470703,
    "y": 243.3333282470703,
    "wires": [
      [
        "9ffade60.1b732"
      ]
    ]
  },
  {
    "id": "4b290edb.257ca",
    "type": "mqtt out",
    "z": "8d7e330b.8f5a7",
    "name": "",
    "topic": "json_output",
    "qos": "2",
    "retain": "",
    "broker": "264320d6.45a71",
    "x": 812.2221527099609,
    "y": 244.44442749023438,
    "wires": []
  },
  {
    "id": "f226c373.e704d",
    "type": "json",
    "z": "8d7e330b.8f5a7",
    "name": "",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 643.3333053588867,
    "y": 243.33331871032715,
    "wires": [
      [
        "4b290edb.257ca"
      ]
    ]
  },
  {
    "id": "9ffade60.1b732",
    "type": "xml",
    "z": "8d7e330b.8f5a7",
    "name": "",
    "property": "payload",
    "attr": "",
    "chr": "",
    "x": 363.3333053588867,
    "y": 238.88887405395508,
    "wires": [
      [
        "b04dbb8a.fbca38"
      ]
    ]
  },
  {
    "id": "b04dbb8a.fbca38",
    "type": "function",
    "z": "8d7e330b.8f5a7",
    "name": "xml_unfold",
    "func": "msg.payload = msg.payload.root;\n\nfor(var key in msg.payload){\n    if(msg.payload[key].length===1){\n        msg.payload[key]=msg.payload[key][0];\n    }\n}\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 506.1111068725586,
    "y": 241.11110305786133,
    "wires": [
      [
        "f226c373.e704d"
      ]
    ]
  },
  {
    "id": "264320d6.45a71",
    "type": "mqtt-broker",
    "z": "",
    "name": "",
    "broker": "localhost",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "compatmode": true,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  }
]