IoTCloudUnits/node_red_dataflows/json_to_xml_flow/flow_json_to_xml.json
[
  {
    "id": "92060cd4.662b5",
    "type": "mqtt in",
    "z": "8d7e330b.8f5a7",
    "name": "",
    "topic": "json_input",
    "qos": "2",
    "broker": "264320d6.45a71",
    "x": 203.3333282470703,
    "y": 243.3333282470703,
    "wires": [
      [
        "f226c373.e704d"
      ]
    ]
  },
  {
    "id": "4b290edb.257ca",
    "type": "mqtt out",
    "z": "8d7e330b.8f5a7",
    "name": "",
    "topic": "xml_output",
    "qos": "2",
    "retain": "",
    "broker": "264320d6.45a71",
    "x": 682.22216796875,
    "y": 246.66665649414062,
    "wires": []
  },
  {
    "id": "f226c373.e704d",
    "type": "json",
    "z": "8d7e330b.8f5a7",
    "name": "",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 355.5555419921875,
    "y": 245.5555419921875,
    "wires": [
      [
        "fddaa52e.324c58"
      ]
    ]
  },
  {
    "id": "fddaa52e.324c58",
    "type": "xml",
    "z": "8d7e330b.8f5a7",
    "name": "",
    "property": "payload",
    "attr": "",
    "chr": "",
    "x": 502.2221870422363,
    "y": 248.8888750076294,
    "wires": [
      [
        "4b290edb.257ca"
      ]
    ]
  },
  {
    "id": "264320d6.45a71",
    "type": "mqtt-broker",
    "z": "",
    "name": "",
    "broker": "localhost",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "compatmode": true,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  }
]