IoTCloudUnits/node_red_dataflows/csv_to_xml_flow/flow_csv_to_xml.json
[
  {
    "id": "92060cd4.662b5",
    "type": "mqtt in",
    "z": "8d7e330b.8f5a7",
    "name": "",
    "topic": "csv_input",
    "qos": "2",
    "broker": "264320d6.45a71",
    "x": 213.3333282470703,
    "y": 243.3333282470703,
    "wires": [
      [
        "4783de9.985a92"
      ]
    ]
  },
  {
    "id": "4b290edb.257ca",
    "type": "mqtt out",
    "z": "8d7e330b.8f5a7",
    "name": "",
    "topic": "xml_output",
    "qos": "2",
    "retain": "",
    "broker": "264320d6.45a71",
    "x": 682.22216796875,
    "y": 246.66665649414062,
    "wires": []
  },
  {
    "id": "4783de9.985a92",
    "type": "csv",
    "z": "8d7e330b.8f5a7",
    "name": "",
    "sep": ";",
    "hdrin": true,
    "hdrout": "",
    "multi": "one",
    "ret": "\\n",
    "temp": "",
    "skip": "0",
    "x": 372.22221755981445,
    "y": 241.111102104187,
    "wires": [
      [
        "62ba28b4.214b28"
      ]
    ]
  },
  {
    "id": "62ba28b4.214b28",
    "type": "xml",
    "z": "8d7e330b.8f5a7",
    "name": "",
    "property": "payload",
    "attr": "",
    "chr": "",
    "x": 523.3333129882812,
    "y": 239.99998474121094,
    "wires": [
      [
        "4b290edb.257ca"
      ]
    ]
  },
  {
    "id": "264320d6.45a71",
    "type": "mqtt-broker",
    "z": "",
    "name": "",
    "broker": "localhost",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "compatmode": true,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  }
]