IoTCloudUnits/node_red_dataflows/bridges/xml_to_yaml_bridge/bridgeelement_json_to_yaml.json
[
  {
    "id": "92060cd4.662b5",
    "type": "mqtt in",
    "z": "8d7e330b.8f5a7",
    "name": "",
    "topic": "xml_yaml_bridge",
    "qos": "2",
    "broker": "264320d6.45a71",
    "x": 203.3333282470703,
    "y": 243.3333282470703,
    "wires": [
      [
        "f226c373.e704d"
      ]
    ]
  },
  {
    "id": "4b290edb.257ca",
    "type": "mqtt out",
    "z": "8d7e330b.8f5a7",
    "name": "",
    "topic": "yaml_output",
    "qos": "2",
    "retain": "",
    "broker": "264320d6.45a71",
    "x": 682.22216796875,
    "y": 246.66665649414062,
    "wires": []
  },
  {
    "id": "f226c373.e704d",
    "type": "json",
    "z": "8d7e330b.8f5a7",
    "name": "",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 355.5555419921875,
    "y": 245.5555419921875,
    "wires": [
      [
        "9f9350f9.9d4bf"
      ]
    ]
  },
  {
    "id": "9f9350f9.9d4bf",
    "type": "yaml",
    "z": "8d7e330b.8f5a7",
    "property": "payload",
    "name": "",
    "x": 518.8888397216797,
    "y": 246.66665649414062,
    "wires": [
      [
        "4b290edb.257ca"
      ]
    ]
  },
  {
    "id": "264320d6.45a71",
    "type": "mqtt-broker",
    "z": "",
    "name": "",
    "broker": "localhost",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "compatmode": true,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  }
]