IoTCloudUnits/node_red_dataflows/json_to_fixed_header_csv_flow/flow_json_to_fixed_header_csv.json
[
  {
    "id": "92060cd4.662b5",
    "type": "mqtt in",
    "z": "8d7e330b.8f5a7",
    "name": "",
    "topic": "json_input",
    "qos": "2",
    "broker": "264320d6.45a71",
    "x": 203.3333282470703,
    "y": 243.3333282470703,
    "wires": [
      [
        "a1bfcfb3.559c7"
      ]
    ]
  },
  {
    "id": "4b290edb.257ca",
    "type": "mqtt out",
    "z": "8d7e330b.8f5a7",
    "name": "",
    "topic": "csv_output",
    "qos": "2",
    "retain": "",
    "broker": "264320d6.45a71",
    "x": 693.3332786560059,
    "y": 243.3333034515381,
    "wires": []
  },
  {
    "id": "c2b38ebe.2ae09",
    "type": "csv",
    "z": "8d7e330b.8f5a7",
    "name": "",
    "sep": ";",
    "hdrin": "",
    "hdrout": false,
    "multi": "one",
    "ret": "\\n",
    "temp": "key1, key2, key3",
    "skip": "0",
    "x": 536.6666450500488,
    "y": 239.99999046325684,
    "wires": [
      [
        "4b290edb.257ca"
      ]
    ]
  },
  {
    "id": "a1bfcfb3.559c7",
    "type": "json",
    "z": "8d7e330b.8f5a7",
    "name": "",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 366.6666450500488,
    "y": 239.99999046325684,
    "wires": [
      [
        "c2b38ebe.2ae09"
      ]
    ]
  },
  {
    "id": "264320d6.45a71",
    "type": "mqtt-broker",
    "z": "",
    "name": "",
    "broker": "localhost",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "compatmode": true,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  }
]